.navigation {
    margin: 0 auto;
    position: relative;
    width: 341px;
    height: 50px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .navigation ul {
        display: flex;
        width: 100%;
    }

        .navigation ul li {
            position: relative;
            list-style: none;
            width: 85px;
            height: 25px;
            z-index: 1;
        }

            .navigation ul li.prog {
                position: relative;
                list-style: none;
                width: 110px;
                height: 25px;
                z-index: 1;
            }

            .navigation ul li.sup {
                position: relative;
                list-style: none;
                width: 89px;
                height: 25px;
                z-index: 1;
            }

            .navigation ul li.info {
                position: relative;
                list-style: none;
                width: 57px;
                height: 25px;
                z-index: 1;
            }

        .navigation ul li {
            border-right: solid 1px #C4C4C4;
        }

            .navigation ul li.last {
                border-right: none;
            }

            .navigation ul li a span {
                margin-left: 3px;
            }

            .navigation ul li .list {
                position: relative;
                list-style: none;
                width: 100px;
                height: 70px;
                z-index: 1;
            }

            .navigation ul li a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;
            }

                .navigation ul li a .textheadr {
                    position: absolute;
                    top: 3px;
                    color: #fff;
                    font-family: 'Inter', sans-serif;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.25em;
                    text-transform: capitalize;
                    transition: 0.5s;
/*                    opacity: 0;
                    transform: translateY(20px);*/
                }

.indicator {
    position: absolute;
    top: 25%;
    width: 70px;
    height: 25px;
    background: linear-gradient(285.5deg, #C241FF 0%, #0AB3BD 100%);
    transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
    width: 84px;
    height: 25px;
    background: linear-gradient(103.69deg, #0AB3BD -11.27%, #314DCF 110.49%);
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(94px * 1));
    width: 74px;
    height: 25px;
    background: linear-gradient(278.95deg, #C241FF 0%, #0AB3BD 100%);
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(89px * 2));
    width: 101px;
    height: 25px;
    background: linear-gradient(103.69deg, #CC6BFA -11.27%, #5400FF 110.49%);
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(96px * 3));
    width: 45px;
    height: 25px;
    background: linear-gradient(287.15deg, #0AB3BD 0%, #6D45E8 52.08%, #C241FF 100%, #6F00FC 100%);
}

.logо_block {
    position: absolute;
    width: 225px;
    height: 50px;
}

.logo_img {
    width: 50px;
    height: 50px;
}

.logo_text {
    margin-left: 9px;
    margin-top: 14px;
    display: inline-block;
    position: absolute;
    width: 158px;
    height: 17px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25em;
    text-transform: capitalize;
    color: #fff;
}

.download_block {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 215px;
}

header {
    width: 100%;
    height: 50px;
    background: #000;
}