.card_blue {
    margin: 106px auto 0 0px;
    display: inline-block;
    width: 223px;
    height: 251px;
    background: linear-gradient(218.9deg, #0CC6D1 0%, #264DFF 99.42%, #3F61FF 99.43%);
    border-radius: 10px;
}

.card_pink {
    margin: 106px auto 0 50px;
    display: inline-block;
    width: 223px;
    height: 251px;
    background: linear-gradient(141.16deg, #0AB3BD -0.89%, #C241FF 100%);
    border-radius: 10px;
}

.card_violet {
    margin: 106px auto 0 50px;
    display: inline-block;
    width: 223px;
    height: 251px;
    background: linear-gradient(38.29deg, #C241FF 0%, #C241FF 0.01%, #6429DD 100%);
    border-radius: 10px;
}

.card_light_blue {
    margin: 106px auto 0 50px;
    display: inline-block;
    width: 223px;
    height: 251px;
    background: linear-gradient(321.71deg, #32C3CC 0%, #6D45E8 51.56%, #AD00FF 100%);
    border-radius: 10px;
}

.card_up {
    position: relative;
    align-items: center;
    text-align: center;
    height: 251px;
    width: 100%;
    margin: 0 auto 0 auto;
    display: block;
}

.card_down {
    position: relative;
    text-align: center;
    height: 251px;
    width: 100%;
    margin: 52px auto 0px auto;
    display: block;
}

.row {
    position: relative;
    left: 0px;
    width: 100%;
    height: 805px;
    background: rgba(0, 0, 0, 0.5);
}

.img {
    padding-top: 35px;
    width: 75px;
    height: 84px;
}

.btn_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
}

.btn_blue {
    width: 140px;
    height: 40px;
    background: linear-gradient(94.67deg, #314ACF 0%, #0A9DBD 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    top: 55px;
    left: 41px;
    padding: 0px 23px 0px 23px;
}

.btn_pink {
    width: 140px;
    height: 40px;
    background: linear-gradient(95.16deg, #C241FF 8.84%, #0AB3BD 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    top: 55px;
    left: 41px;
    padding: 0px 23px 0px 23px;
}

.btn_violet {
    width: 140px;
    height: 40px;
    background: linear-gradient(274.67deg, #C241FF 0%, #6429DD 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    top: 55px;
    left: 41px;
    padding: 0px 23px 0px 23px;
}

.btn_light_blue {
    width: 140px;
    height: 40px;
    background: linear-gradient(274.67deg, #AD00FF 0%, #6D45E8 47.92%, #34A5AC 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    top: 55px;
    left: 41px;
    padding: 0px 23px 0px 23px;
}

.card_name {
    position: relative;
    top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: capitalize;
    color: #FFFFFF
}

.modal {
    height: 300px;
    width: 300px;
    background: linear-gradient(274.67deg, #AD00FF 0%, #6D45E8 47.92%, #34A5AC 100%);
}

.btn-close {
    width: 20px;
    height: 20px;
    background: linear-gradient(312deg, #0AB3BD 0%, #530EE7 100%, #314DCF 100%);
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25em;
    text-transform: capitalize;
    color: #fff;
    position: absolute;
    left: 270px;
}

.modal-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25em;
    text-transform: capitalize;
    color: #fff;
}