.program_description {
    width: 554px;
    height: 422px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 15px;
    display: inline-block;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.program_selected {
    width: 688px;
    height: 535px;
    background: #D9D9D9;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    margin-left: 18px;
}

.name_program {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.25em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: 220px;
    margin-top: 18px;
}

.dowload_program {
    display: inline-block;
    width: 170px;
    height: 43px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25em;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(274.67deg, #0AB3BD 0%, #314DCF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 208px;
    margin-top: 26px;
    padding: 12px;
}

.item_program {
    width: 400px;
    height: 230px;
    background: #D9D9D9;
    border-radius: 10px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
}