@page
@model RezorPages.Pages.Employees.GamesModel
@{
    ViewData["Title"] = "Games";
}

 <div class="divgame">
    <div class="container_game">
        <div class="box">
            <div>
                <img class="div_photo_game" 
                    data-game-name="text 1"
                    data-game-link="/game1"
                    src="https://placekitten.com/300/200"
                    data-game-big-img="https://placekitten.com/300/200"/>
                <img class="div_photo_game" 
                    data-game-name="text 2"
                    data-game-link="/game2"
                    src="https://placekitten.com/300/201"
                    data-game-big-img="https://placekitten.com/300/201"/>
                <img class="div_photo_game" 
                    data-game-name="text 3"
                    data-game-link="/game3"
                    src="https://placekitten.com/300/202"
                    data-game-big-img="https://placekitten.com/300/202"/>
                <img class="div_photo_game" 
                    data-game-name="text 4"
                    data-game-link="/game4"
                    src="https://placekitten.com/300/203"
                    data-game-big-img="https://placekitten.com/300/203"/>
                <img class="div_photo_game" 
                    data-game-name="text 5"
                    data-game-link="/game5"
                    src="https://placekitten.com/300/204"
                    data-game-big-img="https://placekitten.com/300/203"/>
                <img class="div_photo_game" 
                    data-game-name="text 6"
                    data-game-link="/game6"
                    src="https://placekitten.com/300/205"
                    data-game-big-img="https://placekitten.com/300/203"/>
                <img class="div_photo_game" 
                    data-game-name="text 7"
                    data-game-link="/game7"
                    src="https://placekitten.com/300/206"
                    data-game-big-img="https://placekitten.com/300/206"/>
                <img class="div_photo_game" 
                    data-game-name="text 8"
                    data-game-link="/game8"
                    src="https://placekitten.com/300/207"
                    data-game-big-img="https://placekitten.com/300/207"/>
                <img class="div_photo_game" 
                    data-game-name="text 9"
                    data-game-link="/game9"
                    src="https://placekitten.com/300/208"
                    data-game-big-img="https://placekitten.com/300/208"/>
                <img class="div_photo_game" 
                    data-game-name="text 10"
                    data-game-link="/game10"
                    src="https://placekitten.com/300/209"
                    data-game-big-img="https://placekitten.com/300/209"/>
                <img class="div_photo_game" 
                    data-game-name="text 11"
                    data-game-link="/game11"
                    src="https://placekitten.com/300/210"
                    data-game-big-img="https://placekitten.com/300/210"/>
                <img class="div_photo_game" 
                    data-game-name="text 12"
                    data-game-link="/game12"
                    src="https://placekitten.com/300/211"
                    data-game-big-img="https://placekitten.com/300/211"/>
            </div>
            <div>
                <div class="container_Button">
                    <div class="name_game" id="txt-game-name">Name</div>
                    <a href="" id="btn-game-buy" class="dowload_game">Buy for Steam</a>
                </div>
            </div>
        </div>
        <img id="img-game-main" class="main_photo"></img>
        <div>
            <div class="choose_game"></div>
            <div class="choose_game"></div>
            <div class="choose_game"></div>
        </div>
    </div>
    <div class="gameinfo">
        <div class="containerinfo">
            <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos recusandae voluptatum dolorum saepe reiciendis ut sed dicta dolorem quos! Nisi corrupti odit dolores inventore iste illo cupiditate pariatur earum!</p>
            <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos recusandae voluptatum dolorum saepe reiciendis ut sed dicta dolorem quos! Nisi corrupti odit dolores inventore iste illo cupiditate pariatur earum!</p>
            <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos recusandae voluptatum dolorum saepe reiciendis ut sed dicta dolorem quos! Nisi corrupti odit dolores inventore iste illo cupiditate pariatur earum!</p>
            <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos recusandae voluptatum dolorum saepe reiciendis ut sed dicta dolorem quos! Nisi corrupti odit dolores inventore iste illo cupiditate pariatur earum!</p>
            <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos recusandae voluptatum dolorum saepe reiciendis ut sed dicta dolorem quos! Nisi corrupti odit dolores inventore iste illo cupiditate pariatur earum!</p>
            <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos recusandae voluptatum dolorum saepe reiciendis ut sed dicta dolorem quos! Nisi corrupti odit dolores inventore iste illo cupiditate pariatur earum!</p>
            <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos recusandae voluptatum dolorum saepe reiciendis ut sed dicta dolorem quos! Nisi corrupti odit dolores inventore iste illo cupiditate pariatur earum!</p>
            <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos recusandae voluptatum dolorum saepe reiciendis ut sed dicta dolorem quos! Nisi corrupti odit dolores inventore iste illo cupiditate pariatur earum!</p>
        </div>
    </div>
</div>