@page
@model RezorPages.Pages.Employees.infoModel
@{
    ViewData["Title"] = "Info";
}

<div class="blurAuto">
    <div class="MainContainer">
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique distinctio laudantium aperiam voluptas, ad quibusdam laborum. Obcaecati assumenda eaque, reiciendis aliquid quidem dolorem, corrupti fuga velit aut consequuntur sed!</p>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique distinctio laudantium aperiam voluptas, ad quibusdam laborum. Obcaecati assumenda eaque, reiciendis aliquid quidem dolorem, corrupti fuga velit aut consequuntur sed!</p>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique distinctio laudantium aperiam voluptas, ad quibusdam laborum. Obcaecati assumenda eaque, reiciendis aliquid quidem dolorem, corrupti fuga velit aut consequuntur sed!</p>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique distinctio laudantium aperiam voluptas, ad quibusdam laborum. Obcaecati assumenda eaque, reiciendis aliquid quidem dolorem, corrupti fuga velit aut consequuntur sed!</p>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique distinctio laudantium aperiam voluptas, ad quibusdam laborum. Obcaecati assumenda eaque, reiciendis aliquid quidem dolorem, corrupti fuga velit aut consequuntur sed!</p>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique distinctio laudantium aperiam voluptas, ad quibusdam laborum. Obcaecati assumenda eaque, reiciendis aliquid quidem dolorem, corrupti fuga velit aut consequuntur sed!</p>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique distinctio laudantium aperiam voluptas, ad quibusdam laborum. Obcaecati assumenda eaque, reiciendis aliquid quidem dolorem, corrupti fuga velit aut consequuntur sed!</p>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique distinctio laudantium aperiam voluptas, ad quibusdam laborum. Obcaecati assumenda eaque, reiciendis aliquid quidem dolorem, corrupti fuga velit aut consequuntur sed!</p>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique distinctio laudantium aperiam voluptas, ad quibusdam laborum. Obcaecati assumenda eaque, reiciendis aliquid quidem dolorem, corrupti fuga velit aut consequuntur sed!</p>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique distinctio laudantium aperiam voluptas, ad quibusdam laborum. Obcaecati assumenda eaque, reiciendis aliquid quidem dolorem, corrupti fuga velit aut consequuntur sed!</p>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi a sit totam qui consequuntur minus, dolorum praesentium eligendi voluptatem voluptas eos cumque itaque provident? Aut deleniti ipsa laudantium accusamus!</p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quis in pariatur illo dolor iusto, nulla eaque cupiditate similique, quam ex, natus iure. Laboriosam eum hic vitae esse alias minus!</p>
    </div>
</div>