@page
@model RezorPages.Pages.Employees.programsModel
@{
    ViewData["Title"] = "programs";
}

<div class="container">
    <section>
        <div class="program_description"></div>
        <div class="program_selected"></div>
        <div>
            <div class="name_program">Name</div>
            <a href="" class="dowload_program">Download Now</a>
        </div>
    </section>
    <section>
        <div class="item_program"></div>
        <div class="item_program"></div>
        <div class="item_program"></div>
        <div class="item_program down_item_program"></div>
        <div class="item_program down_item_program"></div>
        <div class="item_program down_item_program"></div>
    </section>
</div>