@page
@model RezorPages.Pages.Employees.programsModel
@{
    ViewData["Title"] = "Programs";
}
<div class="blurAuto">
    <div class="container">
            <div class="program_description"></div>
            <div class="program_selected"></div>
            <div>
                <div class="name_program" id="txt-program-name">Name</div>
                <a href="" id="btn-program-buy" class="dowload_program">Download Now</a>
            </div>
            <img class="item_program" 
                    data-program-name="text 1"
                    data-program-link="/game1"
                    src="https://placekitten.com/300/200"
                    data-program-big-img="https://placekitten.com/300/200"/>
            <img class="item_program" 
                    data-program-name="text 2"
                    data-program-link="/game2"
                    src="https://placekitten.com/300/200"
                    data-program-big-img="https://placekitten.com/300/200"/>
            <img class="item_program" 
                    data-program-name="text 3"
                    data-program-link="/game3"
                    src="https://placekitten.com/300/200"
                    data-program-big-img="https://placekitten.com/300/200"/>
            <img class="item_program down_item_program" 
                    data-program-name="text 4"
                    data-program-link="/game4"
                    src="https://placekitten.com/300/200"
                    data-program-big-img="https://placekitten.com/300/200"/>
            <img class="item_program down_item_program" 
                    data-program-name="text 5"
                    data-program-link="/game5"
                    src="https://placekitten.com/300/200"
                    data-program-big-img="https://placekitten.com/300/200"/>
            <img class="item_program down_item_program" 
                    data-program-name="text 6"
                    data-program-link="/game6"
                    src="https://placekitten.com/300/200"
                    data-program-big-img="https://placekitten.com/300/200"/>
    </div>
</div>