@page
@model RezorPages.Pages.Employees.supportModel
@{
    ViewData["Title"] = "support";
}

<div class="row">
    <div class="card_up">
        <div class="card_blue">
            <img src="/img/Telegram.png" alt="Telegram Group" class="img">
            <h3 class="card_name">Telegram group <br>Fast Mechanism </h3>
            <div class="btn_blue">
                <a href="https://t.me/+xT_udWq6q3MyYWIy" class="btn_text">
                    CLIK HERE
                </a>
            </div>
        </div>
        <div class="card_pink">
            <img src="/img/Discord.png" alt="discord" class="img">
            <h3 class="card_name">Discord <br>Fast Mechanism </h3>
            <div class="btn_pink">
                <a href="https://discord.gg/SPXegmJHT7" class="btn_text">
                    CLIK HERE
                </a>
            </div>
        </div>
        <div class=" card_violet">
            <img src="/img/twitter.png" alt="twitter" class="img">
            <h3 class="card_name">Twitter <br>Fast Mechanism </h3>
            <div class="btn_violet">
                <a href="https://twitter.com/FastMechanism" class=" btn_text">
                    CLIK HERE
                </a>
            </div>
        </div>
        <div class="card_light_blue">
            <img src="/img/Gmail.png" alt="gmail" class="img">
            <h3 class="card_name">Gmail <br>Fast Mechanism </h3>
            <div class="btn_light_blue">
                <a class="btn_text" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-whatever="">
                    CLIK HERE
                </a>
            </div>
        </div>
    </div>
    <div class="card_down">
        <div class="card_blue">
            <img src="/img/Telegram.png" alt="Telegram Group" class="img">
            <h3 class="card_name">Telegram group <br>Fast Mechanism </h3>
            <div class="btn_blue">
                <a href="https://t.me/+xT_udWq6q3MyYWIy" class="btn_text">
                    CLIK HERE
                </a>
            </div>
        </div>
        <div class="card_pink">
            <img src="/img/Facebook.png" alt="facebook" class="img">
            <h3 class="card_name">Facebook <br>Fast Mechanism </h3>
            <div class="btn_pink">
                <a href="https://www.facebook.com/groups/454777769789037" class="btn_text">
                    CLIK HERE
                </a>
            </div>
        </div>
        <div class=" card_violet">
            <img src="/img/Steam.png" alt="steam group" class="img">
            <h3 class="card_name">steam group <br>Fast Mechanism </h3>
            <div class="btn_violet">
                <a href="https://steamcommunity.com/groups/589001" class="btn_text">
                    CLIK HERE
                </a>
            </div>
        </div>
        <div class=" card_light_blue">
            <img src="/img/Readdit.png" alt="reddit" class="img">
            <h3 class="card_name">reddit <br>Fast Mechanism </h3>
            <div class="btn_light_blue">
                <a href="https://www.reddit.com/user/fast_mechanism" class="btn_text">
                    CLIK HERE
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal">
            <div class="modal_header">
                <h5 class="modal-title" id="exampleModalLabel">send messages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div> -->
</div>